<ul>
    <li><a href="{{ path("default_index") }}">Strona główna</a>
    <li><a href="{{ path("default_params", { 'firstname': 'J', 'lastname': 'K', 'color': 'red' }) }}">Parametry</a>
    <li><a href="{{ path("default_number") }}">Lucky number</a>
    <li><a href="{{ path("default_redirect") }}">Redirect na główną</a>
    <li><a href="{{ path("default_forward") }}">Forward na główną</a>
</ul>
<ul>
    <li><a href="{{ path("form1") }}">Osoba (v.1)</a>
    <li><a href="{{ path("form2") }}">Osoba (v.2)</a>
    <li><a href="{{ path("form3") }}">Osoba (v.3)</a>
</ul>
